body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

a {
   text-decoration: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    color: #4D5AE5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.web {
    color: #2e2f42;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.navigation {
    color: #2E2F42;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
}

.navigation:hover,
.navigation:focus {
    color: #404bbf;
}

.contacts {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
}

.contacts-links:hover,
.contacts-links:focus {
    color: #404bbf;
}

.contacts-links {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.hero {
    background-color: #2E2F42;
}

.solutions {
    background-color: #2e2f42;
    line-height: 1.07;
    font-size: 56px;
    text-align: center;
    color: #fff;
    letter-spacing: 0.02em;
}

.service {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4D5AE5;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
}

.order:hover,
.order:focus {
    background-color: #404bbf;
}

.features {
    font-weight: 500;
    color: #2E2F42;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.features-descr {
    color:#434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team {
    color: #2E2F42;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.team-descr {
    background-color: #f4f4fd;
}

.team-memb {
    background-color: #fff;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.team-job {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}
.portfolio {
    color: #2E2F42;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.example {
    font-weight: 500;
    color:#2E2F42;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.example-descr {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.appeal {
    background-color: #2E2F42;
}

.studio {
    color: #f4f4fd;
}

.final {
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #2e2f42;
}